@import "tailwindcss";

html {
    --line-color: #e5e7eb;
}
html.dark {
    --line-color: rgba(255, 255, 255, 0.1);
}
.borderBlack {
    @apply border border-black/10;
}
@custom-variant dark (&:where(.dark, .dark *));